.Container {
    width: 500px;
    border-radius: 0.5rem;
}

.square {
    
}

.restaruntListFilter {
    margin-top: 9rem;
}

.loginContainer {
    margin-top: 9rem;
}

.title {
    text-align: center;
}

.imageBox {
    width: 5rem;
    height: 5rem;
    text-align: center;
    justify-content: center;
}

.separateLine {
    background-color: rgb(198, 198, 198);
}

#footer {
    background-color: gray;
    margin-top: 3rem;
    height: 15rem;
}

#nav {
    margin-left: 6rem;
}

#logoImage {
    width: 10rem;
    height: 10rem;
}

#login {
    font-size: 2rem;
    color:black;
}

#list {
    font-size: 2rem;
    color:black;
}

.loginText {
    margin-right: 10.5rem;
    font-size: 2rem;
}

.logo_img {
    width: 7rem;
    height: 7rem;
    line-height: 2.5rem;
    margin-top: .4rem;
    border: 0.1rem solid black;
    margin-left: 12rem; 
}

.logo_text {
    margin-top: 2rem;
}

.loginBtn, .loginUpBtn {
    width: 100%;
    border-radius: 3rem;
    background-color: gray;
    color: white;
    background-color: lightbl;
    background-color: sky;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    margin: 8px 0px;
  }

.hr-sect::before, .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
  }

.loginForm {
    margin-left: 1rem;
    width: 90%;
}

.closeBtn {
    width: 50%;
    color: aqua;
}

.kakaoLogo {
    width: 3rem;
    height: 3rem;
    font-size: 0.9rem;
}

.plusBtn, .clBtn {
    background-color: rgb(187, 185, 185);
    color:black;
}

.footerNavigation {
    margin-top: 1rem;
    margin-left: 3rem;
}

.navText {
    margin: 0;
}

.footerText {
    font-size: 0.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    text-align: center;
    color: white;
}

.footerEnd {
    color: white;
    font-size: 0.8rem;
}

.arrowUpCircle {
    font-size: 2rem;
}


.footerEndText {
    margin-top: 3rem;
}

.header {
    background-color: rgb(198, 198, 198);
}

.foodListImage {
    width: 5rem;
    height: 5rem;
}

.foodBtn {
    font-size: 0.5rem;
}

.table {
    height: 5rem;
}

.footerSearch {
    margin-top: 1rem;
    height: 223px;
    background-color: rgb(198, 198, 198);
}

.footerNav {
    font-size: 0.75rem;
}

.price {
    margin-top: 6rem;
}

.hrLine {
    background-color: black;
    height: 1px;
    border: 0;
}

.termsText {
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0;
}
.privacyPolicy {
    font-weight: bold;
    font-size: 0.9rem;
}

.rowBox {
    width: 5rem;
    height: 5rem;
    align-items: center;
    text-align: center;
}

.questionUpdateBtn {
    width: 5rem;
}
